<template>
  <div>
    <div id="app" style="display:flex; width:100%;background-color:#001f3f">
      <h1
        style="margin-left:auto; margin-right:auto; color:#0074D9; font-family: sans-serif"
      >
        Managementconsole
      </h1>
    </div>
    <div style="display:flex; flex-direction:column;">
      <button
        @click="pullProject(p)"
        style="margin-top: 1rem;margin-left: 1rem;width:16rem;font-family: sans-serif"
        v-for="p in projects"
        :key="p"
      >
        {{ p }} aktualisieren
      </button>
    </div>
    <div style="display:flex; flex-direction: column">
      <h2
        :style="{
          'margin-left': 'auto',
          'margin-top': 'auto',
          'margin-right': 'auto',
          'font-family': 'sans-serif',
          'white-space': 'pre',
          color: statusColor
        }"
      >
        {{ status }}
      </h2>
      <textarea
        v-if="response"
        style="min-height:300px"
        v-model="response"
      ></textarea>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "app",
  data() {
    return {
      projects: [],
      status: "",
      statusColor: "",
      response: ""
    };
  },
  methods: {
    pullProject(project) {
      this.response = "";
      axios
        .get(`/api/${project}/pull`)
        .then(response => {
          this.status = `Projekt ${project} erfolgreich aktualisiert\n`;
          this.statusColor = "#3D9970";
          this.response = response.data.stdout;
        })
        .catch(error => {
          this.status = `Projekt ${project} konnte nicht aktualisiert werden\n\n»${error.response.data.message}«`;
          this.statusColor = "#FF4136";
          this.response = error.response.data.stdout;
        });
    }
  },
  mounted() {
    axios
      .get("/api")
      .then(res => {
        this.projects = res.data;
      })
      .catch(error => {
        this.status = `Backend kann wird nicht gefunden\n\n»${error.response.status}«`;
        this.statusColor = "#FF4136";
      });
  }
};
</script>
